@import "tailwindcss";

.stars-container {
  position: absolute;
  inset: 0;
  z-index: 2;
  overflow: hidden;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: white;
  border-radius: 50%;
  animation: twinkle 5s infinite;
  box-shadow: 0 0 3px #fff,
              0 0 5px #fff;
  pointer-events: none;
}

@keyframes twinkle {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.5);
    opacity: 0.3;
  }
}
